<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
    <form method="post" action="/piglatinize">
<<<<<<< HEAD
      <textarea name="user_phrase"></textarea>
=======
      <input type="textarea" name="user_phrase">
>>>>>>> 26e0be5fc21777243a549959eea1a938776b566f
      <input type="submit" id="submit">
    </form>

  </body>
</html>
